
<div class="home">
    <app-test></app-test>
    <!-- <app-banner></app-banner> -->
    <!-- <app-pagination></app-pagination> -->
</div>

<div class="home" style="display:none;">
    <strong>Angular Setup With:-</strong>

    <p> 1. Server-side Rendering (SSR): An intro to Angular Universal</p>
    <p>2. Angular Material</p>
    <p>3. Angular Flex Layout</p>
    <p>4. SCSS with ( Responsive Layout SCSS/mixin.scss )</p>
    <p>5. Routing</p>
<br>
    <hr>
    <p>6. Service Workers & PWA</p>
    <p>7. Ngrx/store</p>
</div>

{{message}}