/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'SCSS/mixin.scss';

img{
    max-width: 100%;
}

body , html , app-root
{
    height: 100%; 
}

* {
        box-sizing:border-box; 
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        outline: 0px;
        margin: 0px; padding: 0px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow:none;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea{
    resize: none; 
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif; 
    background: #eee;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}
